:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

/* ============STUDIO============ */

/* ============Components============ */

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/* ============/Components============ */

/* ============Header============ */

.header-logo-second-part {
  color: var(--secondary-text-color);
}

.page-nav-list {
  display: flex;
}

.page-nav-item + .page-nav-item {
  margin-left: 40px;
}

.page-nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.page-nav-link:hover,
.page-nav-link:focus {
  color: var(--hover-color);
}

.contacts {
  font-style: normal;
}

.contact-list {
  display: flex;
}

.contact-item + .contact-item {
  margin-left: 40px;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
/* ============/Header============ */

/* ============Hero============ */

.hero-section {
  margin-bottom: 120px;
  text-align: center;
  background-color: var(--secondary-text-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
}

.order-service-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: var(--hover-color);
}

/* ============/Hero============ */

/* ============About us============ */

.about-us-section {
  margin-bottom: 120px;
}

.about-us-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.about-us-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ============/About us============ */

/* ============What are we doing============ */

.what-are-we-doing-section {
  margin-bottom: 120px;
}

.what-are-we-doing-img {
  display: block;
}

/* ============/What are we doing============ */

/* ============Our team============ */

.our-team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-background-color);
}

.our-team-item {
  background-color: var(--primary-background-color);
}

.our-team-img {
  display: block;
  margin-bottom: 32px;
}

.our-team-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.our-team-position {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
}

/* ============/Our team============ */

/* ============Footer============ */

.webstudio-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--secondary-text-color);
}

.footer-logo-second-part {
  color: var(--secondary-background-color);
}

.footer-text {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background-color);
}

/* ============/Footer============ */

/* ============/STUDIO============ */

/* ============PORTFOLIO============ */

/* ============Our works============ */

.our-works-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-btn {
  display: inline-block;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--secondary-background-color);
  color: var(--accent-color);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  border: 1px solid transparent;
  background-color: var(--hover-color);
  color: var(--primary-background-color);
}

/* ============Our works============ */

.project-img {
  display: block;
  margin-bottom: 32px;
}

.project-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.project-filter {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ============PORTFOLIO============ */
